@import url('https://fonts.googleapis.com/css2?family=Andika&family=Inter+Tight:wght@800&family=Satisfy&display=swap');

body {
    font-family: 'Andika', sans-serif;
}
*{
    background-color:purple;
    max-width: 100%;
    max-height: 100%;
}
h1{
    text-align: center;
    color: rgb(27, 2, 8);
    font-size: 90px;
    font-weight: 50px;
}
.a1 {align-items: center;
    display: flex;
    padding: 50px;
    justify-content: space-between;
    justify-content: space-evenly;
    text-align: center;
    font-size: 60px;
}

img{
    width: 400px;
    height: 400px;
}